html {
  /* Inver the page on load */
  filter: invert(1) hue-rotate(180deg) !important;

  /* Give the page a light background color if none is set by default */
  background-color: #fafafa;
}

main {
  /* Give main a light background color if none is set by the page */
  background-color: #fafafa;
}

img,
video {
  /* Revert images and videos to make them look normal again */
  filter: invert(1) hue-rotate(180deg) !important;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg) !important;
}

a,
a * {
  /* Style links to look better with darker background */
  fill: black !important;
  color: black !important;
}

a:hover {
  color: #1a73e8 !important;
  fill: #1a73e8 !important;
}
